/* app/static/css/style.css */
.image-container {
    display: -webkit-box;
    -webkit-box-pack: center;
    background-color: lightgrey;
}
.color-container {
    display: -webkit-box;
    -webkit-box-pack: center;
    /* background-color: lightgrey; */
}

.image-preview, .image-cropped, .cropped-filtred {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    max-height: 300px;
}

#cropped {
    max-width: 300px;
    max-height: 300px;
    min-width: 300px;
    min-height: 300px;
}

.center{
    text-align: center;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 1px solid;
    border-radius: 50%;
}

td, th{
    display: table-cell;
    vertical-align: middle;
    border-radius: 2px;
    padding: 0px 5px !important;
    text-align: -webkit-center !important;
}

.card-header{
    padding: 0px !important;
}

.btn-link{
    color: black !important;
    text-decoration: none !important;
}

.btn-link:hover{
    text-decoration: none !important;
}

.form-control{
    height: 100% !important;
}

#preview{
    max-width: 500px !important;
    max-height: 500px !important;
    min-width: 500px;
    min-height: 500px;
}