<!-- app/templates/index.html -->
<!DOCTYPE html>
<html>


<head>
    <title>My Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" />
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Inclua jQuery primeiro -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Em seguida, inclua Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>

    <!-- Finalmente, inclua o Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
    <!-- <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-dropdown.js"></script> -->
    <!-- <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" rel="stylesheet"/> -->
    <!--     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script> -->

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                    <div class="d-flex align-items-center">
                                        <span class="material-icons">
                                            looks_one
                                        </span>
                                        <span> Selecione a imagem</span>
                                    </div>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordion">
                            <div class="card-body">
                                Selecione o arquivo:
                                <input class="form-control" type="file" id="imageInput" accept="image/*">
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                    <div class="d-flex align-items-center">
                                        <span class="material-icons">
                                            looks_two
                                        </span>
                                        <span> Tamanho</span>
                                    </div>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">

                                <div class="form-group">
                                    <label for="gridSize">Qual tamanho do quadro?</label>
                                    <select class="form-control" id="gridSize">
                                        <option value="" disabled selected>Selecione o tamanho</option>
                                        <option value="32">32x32 - 25,5cm² - 1024 peças</option>
                                        <option value="64">64x64 - 51cm² - 4096 peças</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading3">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse3"
                                    aria-expanded="false" aria-controls="collapse3">
                                    <div class="d-flex align-items-center">
                                        <span class="material-icons">
                                            looks_3
                                        </span>
                                        <span> Interpolação da imagem</span>
                                    </div>
                                </button>
                            </h5>
                        </div>
                        <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
                            <div class="card-body">

                                <input type="radio" id="nearest" name="interpolation" value="NEAREST" title="NEAREST">
                                <label for="nearest">NEAREST</label>
                                <br />
                                <input type="radio" id="box" name="interpolation" value="BOX" title="BOX">
                                <label for="box">BOX</label>
                                <br />
                                <input type="radio" id="bilinear" name="interpolation" value="BILINEAR"
                                    title="BILINEAR">
                                <label for="bilinear">BILINEAR</label>
                                <br />
                                <input type="radio" id="hamming" name="interpolation" value="HAMMING" title="HAMMING">
                                <label for="hamming">HAMMING</label>
                                <br />
                                <input type="radio" id="bicubic" name="interpolation" value="BICUBIC" title="BICUBIC">
                                <label for="bicubic">BICUBIC</label>
                                <br />
                                <input type="radio" id="lanczos" name="interpolation" value="LANCZOS" title="LANCZOS">
                                <label for="lanczos">LANCZOS</label>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="heading4">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4"
                                    aria-expanded="false" aria-controls="collapse4">
                                    <div class="d-flex align-items-center">
                                        <span class="material-icons">
                                            looks_4
                                        </span>
                                        <span> Cores</span>
                                    </div>
                                </button>
                            </h5>
                        </div>
                        <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
                            <div class="card-body">

                                <div class="form-group">


                                    <label for="customRange2" class="form-label">Example range</label>
                                    <input type="range" class="form-range" min="5" max="52" id="customRange2">
                                    <label id="rangeValue"></label>


                                    <div class="table-responsive">
                                        <table>
                                            <tbody>
                                                <!-- As linhas da tabela serão preenchidas pelo JavaScript -->
                                            </tbody>
                                        </table>

                                        <!-- <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Cor</th>
                                                    <th>Nome</th>
                                                    <th>Quantidade</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table> -->
                                    </div>


                                    <!-- <select class="form-control" id="gridSize">
                                        <option value="" disabled selected>Selecione o tamanho</option>
                                        <option value="32">32x32 - 25,5cm² - 1024 peças</option>
                                        <option value="64">64x64 - 51cm² - 4096 peças</option>
                                    </select> -->
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-md-7">
                <img id="preview" src="" alt="Image preview">
                <img id="hidden-preview" src="" alt="Image preview" style="display: none;">

                <!-- <div class="dropdown-content">
                        <a href="#">
               </select>             <div id="circle2" class="circle"></div> Preto
                        </a>
                        <a href="#">
                            <div id="circle2" class="circle"></div> Branco
                        </a>
                    </div> -->
            </div>
        </div>
    </div>
    </div>
    <!-- <div class="image-container">
        <div class="image-preview">

            <img id="cropped-filtred" class="cropped-filtred" src="../static/img.png" alt="Cropped image">
        </div>
        <div class="image-cropped">
          
            <img id="cropped-filtred" class="cropped-filtred" src="../static/img.png" alt="Cropped image">
        </div>
    </div>
    <br />
    <div class="image-container">
        <div class="box">


            <img id="cropped-filtred" class="cropped-filtred" src="../static/img.png" alt="Cropped image">

            <select id="gridSize">
                <option value="32">32x32</option>
                <option value="64">64x64</option>
            </select>




            <select id="resamplingMethod">
                <option value="NEAREST">NEAREST</option>
                <option value="BOX">BOX</option>
                <option value="BILINEAR">BILINEAR</option>
                <option value="HAMMING">HAMMING</option>
                <option value="BICUBIC">BICUBIC</option>
                <option value="LANCZOS">LANCZOS</option>
            </select>
        </div>
        <div class="box">


            <table class="highlight">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Cor</th>
                        <th>Exemplo</th>
                        <th>Quantidade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>
                            <div class="input-field col s12 m2">
                                <select class="color1" id="color1" onchange="changeColor('color1')">
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="red">black</option>
                                    <option value="green">white</option>
                                    <option value="blue">gray</option>
                                </select>
                                <label>Images in select</label>
                            </div>
                        </td>

                        <td>
                            <div id="circle1" class="circle"></div>
                        </td>
                        <td>
                            <div class="input-field col s6">
                                <input id="input_text" type="number" data-length="10">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>
                            <div class="input-field col s12 m2">
                                <select class="color2" id="color2" onchange="changeColor('color2')">
                                    <option value="" disabled selected>Choose your option</option>
                                    <option value="red">black</option>
                                    <option value="green">white</option>
                                    <option value="blue">gray</option>
                                </select>
                                <label>Images in select</label>
                            </div>
                        </td>
                        <td>
                            <div id="circle2" class="circle"></div>
                        </td>
                        <td>
                            <div class="input-field col s6">
                                <input id="input_text" type="number" data-length="10">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>






        </div>
        <div class="box">3</div>
        <div class="box">4</div>
    </div> -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>


</html>